*{
    box-sizing: border-box;
    margin: 0;
}

html{
    font-family: 'Rubik', sans-serif;
    background-color: #222831;
    color: #EEEEEE;
}

.App{
    padding: 20px;
}

h1{
    text-align: center;
}

.centered{
    width: fit-content;
    margin: auto;
}

.input-bar{
    width: 80vw;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    padding-bottom: 1rem;
    
}
    .input-bar > input{
        flex: 1;
        border: none;
        background-color: #393E46;
        color: #EEEEEE;
    }

.section{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.tasks-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.task{
    width: 200px;
    min-height: 5rem;
    
    color:#222831;
    
    border-radius: 0px 20px 20px 20px;
    overflow: hidden;
}

.task > .task-options{
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
}

.task > :nth-child(2){
    padding: 0.5rem;
}

.task-options > .option {
    height: 1rem;
    aspect-ratio: 1/1;
    color: #e3f6d6;
    border-radius: 50%;
    border: #222831 solid 1px;
    text-align: center;
}

.task .finished{
    text-decoration: line-through;
}

.yellow{
    background-color: #FFD369;
}
.orange{
    background-color: #E2703A;
}
.grey{
    background-color: #222831;
}
.blue{
    background-color: #90B8F8;
}


